* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

img {
    transition: all 2s;
    width: 150px;
    height: 150px;
}

img:hover {
    transform: translateY(-8em);
}