* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seaweed {
    position: relative;
    top: 55%;
    margin-left: 90px;
    width: 20%;
    animation-name: seaweed-moving;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.aquarium {
    border: 4px dashed red;
    background-color: aquamarine;
    width: 1200px;
    height: 400px;
    overflow: hidden;
}

.fish {
    animation-name: fish-moving;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    width: 7%;
}

@keyframes seaweed-moving {
    50% {
        transform: translateX(1rem) translateY(-1rem);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes fish-moving {
    5% {
        transform: translateX(100px) translateY(1rem);
    }
    10% {
        transform: translateX(200px) translateY(-1rem);
    }
    15% {
        transform: translateX(300px) translateY(1rem);
    }
    20% {
        transform: translateX(400px) translateY(-1rem);
    }
    25% {
        transform: translateX(500px) translateY(1rem);
    }
    30% {
        transform: translateX(600px) translateY(-1rem);
    }
    35% {
        transform: translateX(700px) translateY(1rem);
    }
    40% {
        transform: translateX(800px) translateY(-1rem);
    }
    45% {
        transform: translateX(900px) translateY(1rem);
    }
    50% {
        transform: translateX(1000px) translateY(-1rem) rotateY(180deg);
    }
    55% {
        transform: translateX(900px) translateY(1rem) rotateY(180deg);
    }
    60% {
        transform: translateX(800px) translateY(-1rem) rotateY(180deg);
    }
    65% {
        transform: translateX(700px) translateY(1rem) rotateY(180deg);
    }
    70% {
        transform: translateX(600px) translateY(-1rem) rotateY(180deg);
    }
    75% {
        transform: translateX(500px) translateY(1rem) rotateY(180deg);
    }
    80% {
        transform: translateX(400px) translateY(-1rem) rotateY(180deg);
    }
    85% {
        transform: translateX(300px) translateY(1rem) rotateY(180deg);
    }
    90% {
        transform: translateX(200px) translateY(-1rem) rotateY(180deg);
    }
    95% {
        transform: translateX(100px) translateY(1rem) rotateY(180deg);
    }
    100% {
        transform: translateX(0%) translateY(0%) rotateY(0deg);
    }
}